DATABASE_URL=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
PUBLIC_SITE_URL=https://palmettobusinessautomation.com
MICROSOFT_TENANT_ID=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
OUTLOOK_SENDER_EMAIL=
INTAKE_OWNER_EMAIL=
TURNSTILE_SECRET_KEY=
POLICY_AUD=
TEAM_DOMAIN=
OWNER_EMAIL=
ENVIRONMENT=development
DEV_BYPASS_AUTH=false
DEV_OWNER_EMAIL=
